// 全局样式文件
// 注意：color.scss, reset.scss, mixin.scss 已在 vite.config.ts 中预处理

@font-face {
  font-family: 'Source Han Serif';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/SourceHanSerifSC-Regular.otf') format('opentype');
  font-display: swap;
}

/* 粗体版本 */
@font-face {
  font-family: 'Source Han Serif';
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/font/SourceHanSerifSC-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/font/SourceHanSerifSC-SemiBold.otf') format('opentype');
  font-display: swap;
}

html,body{
  width: 100%;
  overflow-x: hidden;
  font-size: 30px;
  font-family: 'Source Han Serif';
  font-weight: 500;
  color: $text-primary;
}
.body-text{
  font-family: 'Source Han Serif';
  font-weight: 400;

}

.title{
  font-family: 'Source Han Serif';
  font-weight: 700;
}
.sec-title{
  font-weight: 600;
  font-family: 'Source Han Serif';
}